<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>key_removeTable</key>
	<dict>
		<key>value</key>
		<string>तालिका हटाएं
</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_addTable</key>
	<dict>
		<key>value</key>
		<string>तालिका जोड़ें
</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_removeFloor</key>
	<dict>
		<key>value</key>
		<string>मंजिल को हटा दें
</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_addFloor</key>
	<dict>
		<key>value</key>
		<string>मंजिल जोड़ें
</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_enterHourly</key>
	<dict>
		<key>value</key>
		<string>प्रति घंटा दर्ज करें
</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_enterRate</key>
	<dict>
		<key>value</key>
		<string>कीमत दर्ज करें
</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_enterAddress</key>
	<dict>
		<key>value</key>
		<string>पता लिखिए
</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_enterRole</key>
	<dict>
		<key>value</key>
		<string>भूमिका दर्ज करें
</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_enterName</key>
	<dict>
		<key>value</key>
		<string>नाम दर्ज
</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_rate</key>
	<dict>
		<key>value</key>
		<string>मूल्य</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_hourly</key>
	<dict>
		<key>value</key>
		<string>प्रति घंटा
</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_labelAddress</key>
	<dict>
		<key>value</key>
		<string>पता</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_labelContact</key>
	<dict>
		<key>value</key>
		<string>संपर्क करें
</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_labelPassword</key>
	<dict>
		<key>value</key>
		<string>पारण शब्द
</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_buttonEdit</key>
	<dict>
		<key>value</key>
		<string>संपादित करें
</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_addNewEmployee</key>
	<dict>
		<key>value</key>
		<string>नया कर्मचारी जोड़ें
</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_alertMsg</key>
	<dict>
		<key>value</key>
		<string>कृपया सही फ़ील्ड दर्ज करें
</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_emptyHourly</key>
	<dict>
		<key>value</key>
		<string>कृपया घंटे दर्ज करें
</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_emptyRate</key>
	<dict>
		<key>value</key>
		<string>दर दर्ज करें
</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_emptyRole</key>
	<dict>
		<key>value</key>
		<string>कृपया भूमिका दर्ज करें
</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_dismiss</key>
	<dict>
		<key>value</key>
		<string>खारिज</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_emptyAddress</key>
	<dict>
		<key>value</key>
		<string>कृपया पता दर्ज करें
</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_errorMsg</key>
	<dict>
		<key>value</key>
		<string>त्रुटि संदेश
</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_emptyContact</key>
	<dict>
		<key>value</key>
		<string>कृपया संपर्क दर्ज करें</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_emptyAlertName</key>
	<dict>
		<key>value</key>
		<string>कृपया नाम दर्ज करें
</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_insertedMsg</key>
	<dict>
		<key>value</key>
		<string>डेटा सफलतापूर्वक डाला गया</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_successMsg</key>
	<dict>
		<key>value</key>
		<string>सफलता अद्यतन</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_success</key>
	<dict>
		<key>value</key>
		<string>सफलता</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_buttonAlreadyMember</key>
	<dict>
		<key>value</key>
		<string>पहले से सदस्य हैं
</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_forgotPassword</key>
	<dict>
		<key>value</key>
		<string>पासवर्ड भूल गए?</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_buttonSubmit</key>
	<dict>
		<key>value</key>
		<string>जमा करें
</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_selectRoll</key>
	<dict>
		<key>value</key>
		<string>रोल का चयन करें</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_enterContact</key>
	<dict>
		<key>value</key>
		<string>संपर्क नंबर दर्ज करें</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_lastNameLabel</key>
	<dict>
		<key>value</key>
		<string>अंतिम नाम
</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_firstNameLabel</key>
	<dict>
		<key>value</key>
		<string>पहला नाम
</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_roll</key>
	<dict>
		<key>value</key>
		<string>भूमिका</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_contactNo</key>
	<dict>
		<key>value</key>
		<string>संपर्क नंबर</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_category</key>
	<dict>
		<key>value</key>
		<string>वर्ग</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_menu</key>
	<dict>
		<key>value</key>
		<string>मेन्यू</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_menuItems</key>
	<dict>
		<key>value</key>
		<string>विकल्प सूची की चीज़ें</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_no</key>
	<dict>
		<key>value</key>
		<string>संख्या</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_name</key>
	<dict>
		<key>value</key>
		<string>नाम</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_price</key>
	<dict>
		<key>value</key>
		<string>मूल्य</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_special</key>
	<dict>
		<key>value</key>
		<string>विशेष</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_gst</key>
	<dict>
		<key>value</key>
		<string>जीएसटी</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_buttonTable</key>
	<dict>
		<key>value</key>
		<string>तालिका</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_buttonMenu</key>
	<dict>
		<key>value</key>
		<string>मेन्यू</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_buttonPrint</key>
	<dict>
		<key>value</key>
		<string>छाप</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_buttonClose</key>
	<dict>
		<key>value</key>
		<string>रद्द करना
</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_buttonSave</key>
	<dict>
		<key>value</key>
		<string>सम्मिलित</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_dateWithTime</key>
	<dict>
		<key>value</key>
		<string>समय के साथ तारीख</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_contactPeople</key>
	<dict>
		<key>value</key>
		<string>लोगों से संपर्क करें</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_enterYourName</key>
	<dict>
		<key>value</key>
		<string>अपना नाम दर्ज करें
</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_buttonCashInOut</key>
	<dict>
		<key>value</key>
		<string>कैश इन / आउट</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_buttonEmployee</key>
	<dict>
		<key>value</key>
		<string>कर्मचारी</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_buttonTimeStamp</key>
	<dict>
		<key>value</key>
		<string>टाइमस्टैम्प</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_buttonShift</key>
	<dict>
		<key>value</key>
		<string>पाली</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_buttonEodReport</key>
	<dict>
		<key>value</key>
		<string>ईओडी रिपोर्ट</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_buttonReserveEod</key>
	<dict>
		<key>value</key>
		<string>रिजर्व एओडी
</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_buttonEod</key>
	<dict>
		<key>value</key>
		<string>ईओडी</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_buttonReservation</key>
	<dict>
		<key>value</key>
		<string>आरक्षण</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_logOutCancel</key>
	<dict>
		<key>value</key>
		<string>क्या आप रद्द करना चाहते हैं</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_logOutTittleNevermind</key>
	<dict>
		<key>value</key>
		<string>कोई बात नहीं</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_logOutMessage</key>
	<dict>
		<key>value</key>
		<string>क्या आप लॉग आउट करने के लिए सुनिश्चित हैं?</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_logOut</key>
	<dict>
		<key>value</key>
		<string>लोग आउट</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_tittleBack</key>
	<dict>
		<key>value</key>
		<string>वापस</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_tittleHome</key>
	<dict>
		<key>value</key>
		<string>होम</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_buttonCustomer</key>
	<dict>
		<key>value</key>
		<string>ग्राहक
</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_buttonConfiguration</key>
	<dict>
		<key>value</key>
		<string>विन्यास</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_buttonOrders</key>
	<dict>
		<key>value</key>
		<string>आदेश</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_buttonEndOfDay</key>
	<dict>
		<key>value</key>
		<string>दिन के अंत मे</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_buttonManagement</key>
	<dict>
		<key>value</key>
		<string>प्रबंध</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_saveMessage</key>
	<dict>
		<key>value</key>
		<string>डेटा को सफलतापूर्वक सम्मिलित किया गया</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_saveTittle</key>
	<dict>
		<key>value</key>
		<string>बचाना</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_dataUpdateTittle</key>
	<dict>
		<key>value</key>
		<string>डेटा अपडेट किया गया</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_correctEmailOrPassword</key>
	<dict>
		<key>value</key>
		<string>कृपया सही ईमेल या पासवर्ड दर्ज करें</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_ok</key>
	<dict>
		<key>value</key>
		<string>ठीक</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_Discard</key>
	<dict>
		<key>value</key>
		<string>छोड़ना</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_SignUpEmptyPasswordTittle</key>
	<dict>
		<key>value</key>
		<string>कृप्या पास्वर्ड भरो</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_signUpEmptyAlertMessage</key>
	<dict>
		<key>value</key>
		<string>कृपया सभी क्षेत्र दर्ज करें</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_signUpEmptyAlertTittle</key>
	<dict>
		<key>value</key>
		<string>खाली</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_update</key>
	<dict>
		<key>value</key>
		<string>अद्यतन करें</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_signUp</key>
	<dict>
		<key>value</key>
		<string>साइन अप करें</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_lastName</key>
	<dict>
		<key>value</key>
		<string>अंतिम नाम दर्ज करो</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_firstName</key>
	<dict>
		<key>value</key>
		<string>पहला नाम डालो</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_signIn</key>
	<dict>
		<key>value</key>
		<string>साइन इन करें</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_password</key>
	<dict>
		<key>value</key>
		<string>पास वर्ड दर्ज करें</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_email</key>
	<dict>
		<key>value</key>
		<string>ईमेल दर्ज करें</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_username</key>
	<dict>
		<key>value</key>
		<string>पहला नाम</string>
		<key>comment</key>
		<string>पहला नाम</string>
	</dict>
</dict>
</plist>
