<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>key_enterHourly</key>
	<dict>
		<key>value</key>
		<string>Enter Hourly</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_enterRate</key>
	<dict>
		<key>value</key>
		<string>Enter Rate</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_enterAddress</key>
	<dict>
		<key>value</key>
		<string>Enter Address</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_enterRole</key>
	<dict>
		<key>value</key>
		<string>Enter Role</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_enterName</key>
	<dict>
		<key>value</key>
		<string>Enter Name</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_rate</key>
	<dict>
		<key>value</key>
		<string>Rate</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_hourly</key>
	<dict>
		<key>value</key>
		<string>Hourly</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_labelAddress</key>
	<dict>
		<key>value</key>
		<string>Address</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_labelContact</key>
	<dict>
		<key>value</key>
		<string>Contact</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_labelPassword</key>
	<dict>
		<key>value</key>
		<string>Password</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_buttonEdit</key>
	<dict>
		<key>value</key>
		<string>Edit</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_addNewEmployee</key>
	<dict>
		<key>value</key>
		<string>Add New Employee</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_alertMsg</key>
	<dict>
		<key>value</key>
		<string>Please Enter Correct Fields</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_emptyHourly</key>
	<dict>
		<key>value</key>
		<string>Please Enter Hours</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_emptyRate</key>
	<dict>
		<key>value</key>
		<string>Please Enter Rate</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_emptyRole</key>
	<dict>
		<key>value</key>
		<string>Please Enter Role</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_dismiss</key>
	<dict>
		<key>value</key>
		<string>Dismiss</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_emptyAddress</key>
	<dict>
		<key>value</key>
		<string>Please Enter Address</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_errorMsg</key>
	<dict>
		<key>value</key>
		<string>Error Msg</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_emptyContact</key>
	<dict>
		<key>value</key>
		<string>Please Enter Contact</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_emptyAlertName</key>
	<dict>
		<key>value</key>
		<string>Please Enter Name</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_insertedMsg</key>
	<dict>
		<key>value</key>
		<string>Data Inserted Successfully</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_successMsg</key>
	<dict>
		<key>value</key>
		<string>Success Update</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_success</key>
	<dict>
		<key>value</key>
		<string>Success</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_buttonAlreadyMember</key>
	<dict>
		<key>value</key>
		<string>Already a Member</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_forgotPassword</key>
	<dict>
		<key>value</key>
		<string>Forgot Password</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_buttonSubmit</key>
	<dict>
		<key>value</key>
		<string>Submit</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_enterContact</key>
	<dict>
		<key>value</key>
		<string>Enter Contact No</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_selectRoll</key>
	<dict>
		<key>value</key>
		<string></string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_lastNameLabel</key>
	<dict>
		<key>value</key>
		<string>Last Name</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_firstNameLabel</key>
	<dict>
		<key>value</key>
		<string>First Name</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_roll</key>
	<dict>
		<key>value</key>
		<string>Role</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_contactNo</key>
	<dict>
		<key>value</key>
		<string>Contact No</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_category</key>
	<dict>
		<key>value</key>
		<string>Category</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_menu</key>
	<dict>
		<key>value</key>
		<string>Menu</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_menuItems</key>
	<dict>
		<key>value</key>
		<string>Menu Items</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_no</key>
	<dict>
		<key>value</key>
		<string>No.</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_name</key>
	<dict>
		<key>value</key>
		<string>Name</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_price</key>
	<dict>
		<key>value</key>
		<string>Price</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_special</key>
	<dict>
		<key>value</key>
		<string>Special</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_gst</key>
	<dict>
		<key>value</key>
		<string>GST</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_buttonTable</key>
	<dict>
		<key>value</key>
		<string>Table</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_buttonMenu</key>
	<dict>
		<key>value</key>
		<string>Menu</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_buttonPrint</key>
	<dict>
		<key>value</key>
		<string>Print</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_buttonClose</key>
	<dict>
		<key>value</key>
		<string>Cancel</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_buttonSave</key>
	<dict>
		<key>value</key>
		<string>Save</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_dateWithTime</key>
	<dict>
		<key>value</key>
		<string>Date With Time</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_contactPeople</key>
	<dict>
		<key>value</key>
		<string>Contact People</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_enterYourName</key>
	<dict>
		<key>value</key>
		<string>Enter Your Name</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_buttonCashInOut</key>
	<dict>
		<key>value</key>
		<string>CashIn/Out</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_buttonEmployee</key>
	<dict>
		<key>value</key>
		<string>Employee</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_buttonTimeStamp</key>
	<dict>
		<key>value</key>
		<string>Time Stamp</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_buttonShift</key>
	<dict>
		<key>value</key>
		<string>Shift</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_buttonEodReport</key>
	<dict>
		<key>value</key>
		<string>Eod Report</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_buttonReserveEod</key>
	<dict>
		<key>value</key>
		<string>Reserve Eod</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_buttonEod</key>
	<dict>
		<key>value</key>
		<string>EOD</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_buttonReservation</key>
	<dict>
		<key>value</key>
		<string>Reservation</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_logOutCancel</key>
	<dict>
		<key>value</key>
		<string>Are You Sure to cancel</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_logOutTittleNevermind</key>
	<dict>
		<key>value</key>
		<string>Nevermind</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_logOutMessage</key>
	<dict>
		<key>value</key>
		<string>Are You Sure to Log Out ?</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_logOut</key>
	<dict>
		<key>value</key>
		<string>LogOut</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_tittleBack</key>
	<dict>
		<key>value</key>
		<string>Back</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_tittleHome</key>
	<dict>
		<key>value</key>
		<string>Home</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_buttonCustomer</key>
	<dict>
		<key>value</key>
		<string>Customer</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_buttonConfiguration</key>
	<dict>
		<key>value</key>
		<string>Configuration</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_buttonOrders</key>
	<dict>
		<key>value</key>
		<string>Orders</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_buttonEndOfDay</key>
	<dict>
		<key>value</key>
		<string>End Of Day</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_buttonManagement</key>
	<dict>
		<key>value</key>
		<string>Management</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_saveTittle</key>
	<dict>
		<key>value</key>
		<string>Save</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_dataUpdateMessage</key>
	<dict>
		<key>value</key>
		<string>Data Update Succesfully</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_dataUpdateTittle</key>
	<dict>
		<key>value</key>
		<string>Data Update</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_correctEmailOrPassword</key>
	<dict>
		<key>value</key>
		<string>Please Enter Correct Email Or Password</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_ok</key>
	<dict>
		<key>value</key>
		<string>ok</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_Discard</key>
	<dict>
		<key>value</key>
		<string>Discard</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_SignUpEmptyPasswordTittle</key>
	<dict>
		<key>value</key>
		<string>Please Enter Password</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_signUpEmptyAlertMessage</key>
	<dict>
		<key>value</key>
		<string>Please enter all field</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_signUpEmptyAlertTittle</key>
	<dict>
		<key>value</key>
		<string>empty</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_update</key>
	<dict>
		<key>value</key>
		<string>update</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_signUp</key>
	<dict>
		<key>value</key>
		<string>SignUp</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_lastName</key>
	<dict>
		<key>value</key>
		<string>Enter Last Name</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_firstName</key>
	<dict>
		<key>value</key>
		<string>Enter First Name</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_signIn</key>
	<dict>
		<key>value</key>
		<string>sign in</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_password</key>
	<dict>
		<key>value</key>
		<string>enter password</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_email</key>
	<dict>
		<key>value</key>
		<string>enter email</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>key_username</key>
	<dict>
		<key>value</key>
		<string>username</string>
		<key>comment</key>
		<string>username</string>
	</dict>
</dict>
</plist>
